body {
    margin: 0;
  }
  
  .background-container {
    background-size: cover;
    background-image: url("./image/vacationbackground.jpg");
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2,
  p {
    color: #333;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }


.stars {
    color: #fcd800; 
  }
  

.testimonials-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    flex: 1;
  }  
  
  .testimonial {
    margin-top: 20px;
  }
  
  .testimonial p {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .author {
    font-weight: bold;
  }

